/** main html stuff **/
#app {
}

#app .v-application--wrap {
    max-width: inherit !important;
    flex: 1 1 auto;
}
  
.v-toolbar {
    width: 100%;
}

.row {
    margin: 0px !important;
}

img.logo {
    height: 48px;
    image-rendering: optimizeQuality;
    padding-right: 10px;
    display: inline-block;
}

#router-view {
    padding-top: 30px;
    width: 90%;
    max-width: 960px;
    padding-bottom: 30px;
}

/* display width */
#router-view.small {
    width: 80%;
}
  

/* character select menu icons */
.character-menu .icon {
    margin-right: 10px;
}

.character-menu .v-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* player icons */
.player .icon {
    width: max-content !important;
}

.wide .p1 .icon {
    padding-left: 10px;
}

.wide .p2 .icon {
    padding-right: 10px;
}

.small .icon {
    padding-right: 10px;
}

/** filters.vue **/

/* general */
#filters {
    margin: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
}

#filters__toggle {
    width: 100%;
    border: 1px solid black;
    border-radius: 0px;
}

#filters__main {
    background-color: rgb(41, 41, 41);
    border: 1px solid black;
    border-top: none;
    transition: all 0.5s;
    position: relative;
    width: 100%;
    padding: 20px 50px;
}

#filters .flex {
    margin: auto;
}

#filters .player {
    width: 100%;
}

#filters .p1 {
    order: 1;
}

#filters .swap {
    order: 2;
}

#filters .p2 {
    order: 3;
}

#filters .swap {
    padding: 0px !important;
    margin: 0px 20px;
    width: min-content !important;
    text-align: center;
    align-self: center;
}

#filters .swap .v-btn__content {
    width: 64px;
}

/* matches.vue */

/* general */
#matches > .match:not(:last-child) {
    border-bottom: 2px solid;
}

/*#matches > .row:nth-child(2n - 1) {
    background-color: #292929;
}*/

/** matchrow.vue **/

.match {
    padding: 10px 0px;
}

.match .col {
    padding: 0px;
}

.match .unique .edit .v-icon {
    margin-top: -2px;
    padding-right: 5px;
}

.match .p1 {
    order: 1;
}

.match .p2 {
    order: 3;
}

.match .vs {
    order: 2;
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

.match .character-icon {
    width: 45px;
}

.wide .match .links .link {
    max-width: min-content;
}

.match .player {
    display: flex;
    align-content: center;
}

.match .player .name {
    margin: 0px;
    height: min-content;
    flex-wrap: nowrap;
}

.match .links > .row {
    justify-content: space-between;
    align-content: space-between;
}

.match .slash {
    position: absolute;
    top: -1px;
    -webkit-transform: rotateZ(118deg);
    transform: rotateZ(118deg) scaleY(1.4);
    text-shadow: -2px 0px #3a3939;
}

.match .links .v-icon {
    color: #d52726;
}

.match .links .disabled .v-icon {
    color: #5e5e5e
}

.match .players .player,
.match .players .vs {
    align-items: center;
}

/* desktop */
.wide .match .unique {
    text-align: center;
}

.wide .match .players {
    width: 50%;
}

.wide .match .p1 {
    text-align: right;
    justify-content: flex-end;
}

.wide .match .p1 .character-icon {
    order: 2;
}

.wide .match .p1 .character-icon {
    margin-left: 15px;
}

.wide .match .p2 .character-icon {
    margin-right: 15px;
}

.wide .match .players .name {
    word-break: break-word;
    overflow: clip;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* mobile */
.small .match {
}

.small .match .unique {
    width: 100%;
    border-bottom: 1px dashed grey;
    padding-bottom: 10px;
    min-width: max-content;
    flex-wrap: nowrap;
    min-width: 100%;
    overflow: clip;
    
}

.small .match .date,
.small .match .time {
    margin-top: 2px;
}

.small .match .time {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    line-height: 1;
    min-width: 1%;
}

.small .match .players {
    width: 80%;
}

.small .match .links {
    width: 20%;
}

.small .match {
    justify-content: space-between;
}

.small .match .character-icon {
    margin-right: 15px;
}

.small .match .edit {
    max-height: 24px;
}

.small .match .divider {
    display: inline-block;
}


.small .match .player,
.small .match .link {
    padding-top: 10px;
}

.small .match .player .character {
    padding-right: 10px;
}

.small .match .link > *,
.small .match .player {
    min-height: 52px;
}

.small .match .players > .row {
    max-width: 100%;
}

.small .match .player {
    max-width: 80%;
}

.small .match .name {
    overflow: clip;
    text-overflow: ellipsis;
    max-width: 90%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.small .match .link .btn > * {
    align-self: center;
}

.small .match .link .btn {
    display: flex;
}

.small .match .links {
    max-width: max-content;
}

.small .match .links > .row {
    max-width: min-content; 
}

.small .match .links > .row > .link {
    max-width: max-content;
}

/** uploadform.vue **/

/* general */
#uploads {
    width: 100%;
}

#uploads h1 {
    text-align: center;
}

#uploads .v-stepper__content {
    padding: 0px;
}

#uploads .form .wrapper {
    padding: 20px 0px;
}

#uploads .form .body {
    padding-bottom: 20px;
}

#uploads .v-file-input {
    width: 80%;
    margin: auto;
}

#uploads .preview:not(:last-child) {
    border-bottom: 1px solid white;
}


#uploads .preview {
    width: 100%;
}

#uploads .v-overlay .v-progress-linear {
    margin: 20px 0px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

#uploads .v-overlay__content {
    width: 50%;
    background-color: #171717
}

#uploads .v-overlay .v-btn {
    margin-top: 10px;
}

#uploads .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#uploads .step > .body {
    margin-top: 10px;
}

#uploads .step {
    padding: 24px;
}

#uploads .step .v-btn:not(.back):not(.remove) {
    max-width: min-content;
    flex-wrap: wrap;
    height: 50px;
}

#uploads #step__sign-in .v-progress-linear {
    margin-top: 10px;
}

#uploads #step__select .v-btn:not(:last-child) {
    margin-bottom: 20px;
}


#uploads #step__upload .heading {
    position: relative;
    width: 100%;
}

.wide #uploads .back {
    position: absolute;
    margin: auto;
    left: 15px;
    bottom: 0;
    top: 0;
}

#uploads #step__upload .buttons :not(:last-child) {
    margin-right: 20px;
}

#uploads .form .message > div {
    margin: auto;
}

#uploads .preview__match {
    flex-wrap: nowrap;
}

#uploads #files .body .preview:not(:first-child) {
    padding-top: 15px;
}

/** youtubeuploads.vue **/
#youtube .body {
    width: 100%;
}

#youtube .body .data {
    width: 100%;
}

#youtube .body .data .row {
    justify-content: space-between;
}

#youtube .body .data .row > div {
    max-width: 40%;
}

#youtube .body .data .row,
#youtube .body .data .desc {
    width: 75%;
}

/** filepreview.vue + videopreview.vue **/

/* general */
.preview {
    padding: 0px;
}

.preview .players {
    display: flex;
}

.wide .preview .players > .row {
    flex-wrap: nowrap;
}

.preview .players > .row {
    display: flex;
}

.preview .players .p1 {
    order: 1;
}

.preview .players .vs {
    order: 2;
}

.preview .players .p2 {
    order: 3;
}

/** filepreview.vue **/

/* general */
#files .preview .header  {
    display: flex;
    max-width: 100%;
}

#files .preview .header h4 {
    max-width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

#files .preview .header .remove {
    margin-right: 10px;
}

#files .preview .vs {
    padding: 0px 20px;
}

#files .preview .data {
    padding: 0px;
}

#files .preview .data .youtube {
    padding-right: 0px;
}

#files .preview .data .players {
    padding-left: 0px;
}

/** youtubepreview.vue **/

/* general */
#youtube .preview .timestamp {
    padding-left: 0px;
}
#youtube .preview .remove__wrapper {
    flex-grow: 0;
    padding: 0px;
    align-self: center;
}

/* desktop */
.wide #youtube .preview .vs {
    min-width: 10%;
}