.vstxt {
    padding: 0px 30px;
    text-align:  center;
}

img.logo {
    height: 48px;
    image-rendering: optimizeQuality;
    padding-right: 10px;
    display: inline-block;
}

.v-toolbar__title {
    display: inline-block;
}

.character-select {
    display:inline-block;
    width:auto;
}

/* general filter box css */

#filter {
    margin: auto;
    margin-bottom: 20px;
}

#filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#filter-toggle {
    width: 100%;
    border: 1px solid black;
    border-radius: 0px;
}

#search {
    background-color: rgb(41, 41, 41);
    border: 1px solid black;
    border-top: none;
    transition: all 0.5s;
    position: relative;
    width: 100%;
}

.filters {
    padding: 20px 50px;
}

#filter .pfilter:nth-child(0){
    order: 1;
}

#filter .pfilter:nth-child(2) {
    order: 3;
}


#filter .flex {
    margin: auto;
}

/* general upload table css */

.filler {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

.links .mdi::before, .links .mdi::after {
    font-size: 46px;
}


.crossout {
    position: absolute;
    width: auto;
    top: 1px;
    right: 0;
    left: -2px;
}

.yt-unavail {
    margin: auto;
}

.yt-unavail.mdi::before, .yt-unavail.mdi::after {
    -webkit-transform: rotateZ(118deg);
    transform: rotateZ(118deg) scaleY(1.4);
    text-shadow: -3px -3px #3a3939;
}

.match-row {
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    border-bottom: 2px solid;
    justify-content: space-between;
    padding: 10px 0px;
}


#upload-list {
    margin-top: 0px;
}


#upload-list > .wrapper {
    width: 70%;
}

.match-info {
    text-align: center;
}

.match-row .players .flex:nth-child(0){
    order: 1;
}

.match-row .players .flex:nth-child(2) {
    order: 3;
}

.match-row .filler {
    height: 100%;
}

.match-info.row, .match-data.row, .match-info.row + .match-data.row {
    margin: 0px;
}

.match-info.row + .match-data.row {
    margin: 0px;
}

.layout.match-info.row {
    margin-left: 8px;
    align-content: center;
    min-height: 40px;
    flex: auto;
}

.layout.match-data {
    flex: 80%;
}

.players {
    justify-content: center;
    width: 50%;
}

.player {
    width: 45%;
}

.players.column {
    padding-left: 15px;
}

.links .icons {
    margin: auto;
}

.links.column {
    justify-content: space-evenly;
    text-align: right;
    padding-right: 15px;
  }

  .links.column .icons {
      margin: 0;
  }

  .match-row .flex {
    flex: 0 0 auto;
  }

  .tooltip.msg {
      text-align: center;
  }


  /* upload form css */
#upload-form {
    width: 80%;
}

#match-upload {
    margin-bottom: 20px;
    width: 100%;
}

.v-file-input {
    width: 80%;
    margin: auto;
}