/* matches.vue */

/* general */
#matches {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    width: 100%;
}

#matches .match-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#matches .match-group > .row {
    width: 95%;
}


#matches > .match:not(:last-child) {
    border-bottom: 2px solid;
}

#matches .header .col {
    display: flex;
    padding: 0px;
}

#matches .header p {
    margin: 0px;
    margin-top: 1px;
}

#matches .header .btn {
    align-items: center;
    max-width: min-content;
}

#matches .header .data {
    flex-wrap: wrap;
    display: flex;
}

#matches > hr {
    border-color: #a6a6a6
}

#matches .header {
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#matches .header, #matches .header .v-divider {
    border-color: hsla(0,0%,100%,.2)
}

.matches__loading {
    justify-self: center;
}

/* mobile */
.small #matches .match-group {
    padding: 5px 0px;
}

/** matchrow.vue **/
.match {
    padding: 10px 0px;
}

.match .players,
.match .header .btn {
    padding-left: 10px !important;
}

.match .links,
.match .header .data {
    padding-right: 10px !important;
}

.match .col {
    padding: 0px;
}
.match {
    padding: 15px 0px;
}

#matches .header .p-divider {
    margin: 0px 4px !important;
    margin-top: -0.09px !important;
}

#matches .header .download-all {
    max-width: max-content;
    height: min-content;
    padding-right: 10px;
}

#matches .header .download-all svg {
    height: 36px;
    fill: var(--v-buttonDisabled-base)
}

#matches .header .data {
    align-items: center;
}

#matches .group {
    flex-wrap: wrap;
}

.match-group > div:not(:last-of-type):not(.header) {
    border-bottom: 1px dashed gray;
}

.match:hover {
    background-color: var(--v-matchRowHover-base)
}

.match .character-icon {
    cursor: pointer;
}


.match .players,
.match .links {
    display: flex;
    flex-wrap: nowrap;
}

.small .match .players,
.small .match .links {
    flex-wrap: wrap;
}

.match .player {
    display: flex;
    align-content: center;
}

.match .player .name {
    cursor: pointer;
    margin: 0px;
    height: min-content;
    flex-wrap: nowrap;
}

.match .links {
    justify-content: end;
    align-content: space-between;
}

.match .link {
    align-items: center;
    display: flex;
}

.match .links .video > .btn > div > .v-icon {
    margin-top: -1px;
}

.match .btn {
    height: 36px;
    width: 36px;
}

.match .btn a {
    display: inline-block;
    height: 36px;
    width: 36px;
}

.match .download-off, .match .youtube-off {
    height: 36px;
    width: 36px;
    fill: var(--v-buttonDisabled-base)
}

.match .slash > path {
    -webkit-filter: drop-shadow( 1px 1px 1px var(--v-background-base));
    filter: drop-shadow(2px -1px 0px var(--v-background-base))
}

.match:hover .slash > path {
    -webkit-filter: drop-shadow( 1px 1px 1px var(--v-matchRowHover-base));
    filter: drop-shadow(2px -1px 0px var(--v-matchRowHover-base))
}

.match .disabled .v-icon {
    color: #5e5e5e !important;
}

.match .players .player,
.match .players .vs {
    align-items: center;
}

.match .comment .v-icon:focus::after {
    background: transparent;
}

.match .comment.msg {
    border-radius: 10px;
    margin-top: 5px;
}

.match .p1 {
    flex-direction: row-reverse;
    text-align: right;
}


.small .match .p1 {
    flex-direction: row;
    text-align: left;
}

/* desktop */

.wide .match .players {
    width: 50%;
}

.wide .match .player {
    width: 47%;
    max-width: 47%;
}

.wide .match .p1 {
    text-align: right;
}


.match .p1 .character-icon {
    margin-left: 15px;
}

.match .p2 .character-icon {
    margin-right: 15px;
}


.wide .match .players .name {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: nowrap;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wide .match .links .link {
    justify-content: end;
}


/* mobile */
.small .match {
    justify-content: space-between;
}

.small .match .character-icon {
    margin-right: 15px;
    margin-left: 0px;
}

.small .match .p2,
.small .match .video {
    padding-top: 10px;
}

.small .match .player .character {
    padding-right: 10px;
}

.small .match .link > *,
.small .match .player {
    min-height: 52px;
}

.small .match .player {
    max-width: 100%;
}

.small .match .name {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: nowrap;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.small .match .link .btn > * {
    align-self: center;
}

.small .match .link .btn {
    display: flex;
}
.small .match .links > .link {
    justify-content: end;
}

.xsmall .match {
    flex-wrap: nowrap;
}

.match-group .header .date {
    font-size: 15px;
}

.match-group .header .group-info {
    font-size: 15px;
}