/** uploadform.vue **/

/* general */

.match-divider {
    display: grid;
    grid-template: 'a b c' auto / auto 0fr auto ;
}

.match-divider hr {
    align-self: center;
}

.match-divider .v-btn {
    justify-self: center;
}

.v-messages.error--text {
    max-width: max-content !important;
}

.player .v-text-field__details {
    justify-content: flex-end;
}

.add-match {
    width: max-content;
    margin: 0px 10px;
}

#forms {
    width: 100%;
    padding: 0px;
}

/*#forms .url__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: nowrap;
}*/


#forms .group-info {
    margin: auto !important;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

#forms .group-info .group.part {
    max-width: 150px;
    min-width: 90px;
}

#forms h1 {
    text-align: center;
}

#forms .v-stepper__content {
    padding: 0px;
}

#forms .v-file-input {
    width: 80%;
    margin: auto;
}

#forms .match-list > hr {
    border-bottom: 1px solid white;
    width: 100%;
}

#forms .preview {
    width: 100%;
}

#step__upload {
    display: grid;
    row-gap: 10px;
    justify-items: center;
}

#forms .form {
    display: grid;
    row-gap: 20px;
    justify-items: center;
    justify-content: center;
}

#step__upload #youtube {
    display: grid;
    row-gap: 20px;
    justify-items: center;
}

#youtube .desc {
    display: grid;
    grid-template:
        'desc reset' auto
        'desc parse' auto / auto 180px;
    align-items: center;
}

.wide #youtube .desc {
    column-gap: 20px
}

#youtube .descbox { grid-area: desc; }
#youtube .reset {
    grid-area: reset;
    align-self: center;
    justify-self: center;
}
#youtube .parse {
    grid-area: parse;
    align-self: center;
    justify-self: center;
}

.small #youtube .desc {
    grid-template:
        'desc desc'
        'reset parse' auto / auto;
    row-gap: 20px;
}

.xsmall #youtube .desc {
    grid-template:
        'desc desc'
        'reset reset'
        'parse parse'
}

.match-list {
    padding: 15px 0px;
    display: grid;
    row-gap: 20px;
}


.form .buttons {
    display: grid;
    row-gap: 20px;
}

#forms .step {
    padding: 24px;
}

.step > * {
    width: 100%;
    text-align: center;
}
#forms #step__sign-in .v-btn,
#forms #step__select .v-btn {
    display: block;
    margin: auto;
    width: auto;
}

#forms #step__upload .heading {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#forms #files .filename .v-text-field__slot {
    overflow: visible;
}

#forms .form .message > div {
    margin: auto;
}

#forms .preview__match {
    flex-wrap: nowrap;
}


.wide #forms .group-info .group.part {
    padding: 0px 10px;
}


/* mobile */

.small #forms .group-info .group.part {
    padding-left: 0px !important;
}

.small #forms .group-info .group.date,
.small #forms .group-info .group.part {
    padding-top: 12px !important;
}

.wide #forms .back {
    position: absolute;
    margin: auto;
    left: 15px;
    bottom: 0;
    top: 0;
}

/* mobile */

.small #forms .back {
    margin-bottom: 10px;
}

/** youtubeuploads.vue **/
#forms #youtube .video {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#forms #youtube .video .data,
#forms #youtube .group-info {
    justify-content: space-between;
    width: 80%;
}

#forms #youtube .desc {
    width: 90%;
}

#forms #youtube .desc > .v-textarea .v-messages {
    max-width: max-content;
}

#forms #youtube .desc > .v-textarea .v-text-field__details {
    justify-content: end;
}

/* desktop */
.wide #forms #youtube .descbox {
    min-height: 150px;
}

/* mobile */
#forms .v-btn span {
    max-width: 100%;
    white-space: normal
}

/** filepreview.vue **/

/* general */

#forms #files .hint .v-icon {
    margin-top: -4px;
    display: inline-block;
}

#forms #files .hint {
    align-items: center;
    background-color: var(--v-background-base);
    border-radius: 4px;
}

#forms #files .hint > div {
    align-items: center;
    display: flex;
}

#forms #files .hint > div > .col {
    max-height: max-content;
    max-width: max-content;
    min-height: max-content;   
}

#forms #files .group-info .v-input__append-inner {
    position: absolute;
    right: 0px;
}


/****/
.preview .add .v-messages,
.group .v-messages {
    max-width: max-content;
}

.preview .add .v-text-field__details,
.group .v-text-field__details {
    justify-content: end;
}
/****/


/* general */
.files .v-input--radio-group {
    margin-top: 0px;
}

.files .hint {
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.files .hint .v-icon {
    margin-right: 2px;
}

.files .hint span {
    display: contents;
}

.files .hint span b {
    display: inherit;
}

.wide .preview .p1 {
    flex-direction: row-reverse;
}

/* preview rows */
.preview {
    margin: auto !important;
}

.preview .header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
}

.small .preview .header {
    margin-bottom: 10px;
}

.xsmall .preview .header {
    margin-bottom: 20px;
}

.preview .header .match__num {
    font-size: 16px;
    text-align: left;
    margin-right: 15px;
}

.preview .header .file__date {
    font-size: 13px;
    margin-left: 15px;
}

.xsmall .header .match__num {
    font-size: 17px;
}

.preview .header .leader,
.preview .header .remove {
    margin-right: 15px;
}

.preview .add {
    display: grid;
    width: 100%;
}

.wide .preview .add {
    max-width: 230px;
}

.wide .preview .players,
.small:not(.xsmall) .preview .players {
    margin: 0px 20px;
}

.preview .col {
    padding: 0px;
    display: flex;
}

.preview .player {
    display: flex;
    align-items: center;
}

.preview .players .p1 {
    order: 1;
}

.preview .vs {
    order: 2;
    align-items: center;
}

.preview .players .p2 {
    order: 3;
}

.preview .players {
 display: flex;
 flex-wrap: wrap;
}

.preview .header > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* mobile */
.small .preview .data {
    flex-wrap: wrap;
}

.small:not(.xsmall) .preview .add {
    max-width: 200px;
    min-width: 200px;
}

.xsmall .preview .icon {
    margin-right: 10px !important;
    margin-left: 0px !important;
}

.xsmall .preview .players {
    margin-bottom: 5px;
}

.xsmall .preview .p2,
.xsmall .preview .add .link,
.xsmall .preview .add .timestamp {
    margin-top: 15px;
}

.xsmall .preview .add {
    margin: 0px;
}

/** svg buttons **/
.preview button svg {
    box-shadow:
        0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 5px 0 rgba(0,0,0,.14),
        0 1px 10px 0 rgba(0,0,0,.12);
}
.preview button svg,
.preview button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.preview button svg {
    border-radius: 100%;
}

.xsmall .preview button svg,
.xsmall .preview button {
    height: 38px;
    width: 38px;
}

.preview button.disabled .st0 {
    fill: var(--v-buttonDisabled-base)
}

.preview button .st0 {
    transition: 0.5s;
}

button.remove .st0 {
    fill: var(--v-accent-base);
}

button.remove:not(.disabled):hover .st0 {
    fill: var(--v-accent-lighten1)
}

button.move .st0 {
    fill: var(--v-button3-base);
}

button.move:not(.disabled):hover .st0 {
    fill: var(--v-button3-lighten2);
}

.preview button .st1 {
    fill:#FFFFFF;
}

.preview .swap {
    max-width: min-content;
    display: grid;
    grid-template: 'up' 'down';
    row-gap: 30px;
}

.preview .swap .up {
    align-self: end;
}

.preview .swap .down {
    align-self: start;
}

.xsmall .preview .swap {
    margin-right: 25px;
    row-gap: 70px;
}

.upload-url {
    width: 240px;
}

.v-form {
    align-items: center;
}


#forms .wrapper {
    width: 100%;
}

#step__edit {
    display: grid;
    grid-template:
        'title'
        'subtitle'
        'form';
    row-gap: 20px;
}

#step__edit h1 { grid-area: title; }
#step__edit .subtitle { grid-area: subtitle; }
#step__edit form { grid-area: form; }

.date__input .v-input__control {
    position: relative;
}

.datepicker__menu {
    top: 33px !important;
    max-width: max-content !important;
    left: -2px !important
}

.url__input .url {
    margin-right: 20px;
}

.url__input .verify {
    transition: 0.5s;
}

.url__input .url__button {
    width: 84px;
    height: 50px;
}

.url__input .v-progress-circular {
    height: 50px !important;
}

.url__input .v-progress-circular > svg {
    width: 32px !important;
    height: 32px !important;
}

/*****/

#forms div:not(#youtube) .group {
    display: grid;
    grid-template:
        'title part date'
        'url url url' auto / 300px 150px 150px;
    column-gap: 20px;
}

.small #forms div:not(#youtube) .group {
    grid-template:
    'title title'
    'part date'
    'url url' auto / 1fr 1fr;
}

#forms .group .title__input { grid-area: title; }
#forms .group .part__input { grid-area: part; }
#forms .group .date__input { grid-area: date; }
#forms div:not(#youtube) .group .url__input {
    grid-area: url;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.wide #forms div:not(#youtube) .group .url {
    max-width: 50%;
}

#youtube .url__input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.wide #youtube .url {
    max-width: 45%;
}

.small #youtube .url {
    max-width: 60%;
}

.xsmall .add .v-input__icon--prepend {
    width: 48px;
    height: 32px;
}
.xsmall .add .v-input__icon--prepend i {   
    font-size: 32px;
}

#step__edit .progress {
    justify-self: center;
}