/** uploadform.vue **/

/* general */

#forms {
    width: 100%;
    padding: 0px;
}

#forms .url-input {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

#forms .url-input > .v-btn {
    margin-left: 20px;
}

#forms .group-info {
    margin: auto !important;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

#forms .group-info .group.part {
    max-width: 150px;
    min-width: 90px;
}

#forms h1 {
    text-align: center;
}

#forms .v-stepper__content {
    padding: 0px;
}

#forms .v-file-input {
    width: 80%;
    margin: auto;
}

#forms .match-list > hr {
    border-bottom: 1px solid white;
    width: 100%;
}

#forms .preview {
    width: 100%;
}

#step__upload {
    display: grid;
    row-gap: 10px;
    justify-items: center;
}

#forms .form {
    display: grid;
    row-gap: 20px;
    justify-items: center;
}

#step__upload #youtube {
    display: grid;
    row-gap: 20px;
    justify-items: center;
}

#youtube .desc {
    display: grid;
    grid-template:
        'desc reset' auto
        'desc parse' auto / auto 180px;
    align-items: center;
}

.wide #youtube .desc {
    column-gap: 20px
}

#youtube .descbox { grid-area: desc; }
#youtube .reset {
    grid-area: reset;
    align-self: center;
    justify-self: center;
}
#youtube .parse {
    grid-area: parse;
    align-self: center;
    justify-self: center;
}

.small #youtube .desc {
    grid-template:
        'desc desc'
        'reset parse' auto / auto;
    row-gap: 20px;
}

.xsmall #youtube .desc {
    grid-template:
        'desc desc'
        'reset reset'
        'parse parse'
}

.match-list {
    display: grid;
    row-gap: 20px;
}

.form .buttons {
    display: grid;
    grid-template: 'a b';
    column-gap: 20px;
}

#forms .step {
    padding: 24px;
}

#forms #step__upload.step{
    padding-bottom: 14px !important;
}

.step > * {
    width: 100%;
    text-align: center;
}
#forms #step__sign-in .v-btn,
#forms #step__select .v-btn {
    display: block;
    margin: auto;
    width: auto;
}

#forms #step__upload .heading {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#forms #files .filename .v-text-field__slot {
    overflow: visible;
}

#forms .form .message > div {
    margin: auto;
}

#forms .preview__match {
    flex-wrap: nowrap;
}


.wide #forms .group-info .group.part {
    padding: 0px 10px;
}

.wide #forms .url-input .v-input {
    max-width: 50%;
}

/* mobile */

.small #forms .url-input .v-input {
    max-width: 70%;
}

.small #forms .group-info .group.part {
    padding-left: 0px !important;
}

.small #forms .group-info .group.date,
.small #forms .group-info .group.part {
    padding-top: 12px !important;
}

.wide #forms .back {
    position: absolute;
    margin: auto;
    left: 15px;
    bottom: 0;
    top: 0;
}

/* mobile */

.small #forms .back {
    margin-bottom: 10px;
}

/** youtubeuploads.vue **/
#forms #youtube .data {
    width: 95%;
}

#forms #youtube .data .date-title,
#forms #youtube data  {
    justify-content: space-between;
}

#forms #youtube .data .date-title {
    width: 100%;
}

#forms #youtube .date-title > div {
    max-width: 40%;
}

#forms #youtube .desc > .v-textarea .v-messages {
    max-width: max-content;
}

#forms #youtube .desc > .v-textarea .v-text-field__details {
    justify-content: end;
}

/* desktop */
.wide #forms #youtube .descbox {
    min-height: 150px;
}

/* mobile */
#forms .v-btn span {
    max-width: 100%;
    white-space: normal
}

/** filepreview.vue **/

/* general */

#forms #files .hint .v-icon {
    margin-top: -4px;
    display: inline-block;
}

#forms #files .hint {
    align-items: center;
    background-color: var(--v-background-base);
    border-radius: 4px;
}

#forms #files .hint > div {
    align-items: center;
    display: flex;
}

#forms #files .hint > div > .col {
    max-height: max-content;
    max-width: max-content;
    min-height: max-content;   
}

#forms #files .group-info .v-input__append-inner {
    position: absolute;
    right: 0px;
}

#forms #files .group-info .link input {
    max-width: 90%;
}


#forms #files .group-info .title input {
    max-width: 85%;
}

.xsmall .preview .matchinfo {
    max-width: 100px;
}


/****/
.preview .add .v-messages,
.group-info .v-messages {
    max-width: max-content;
}

.preview .add .v-text-field__details,
.group-info .v-text-field__details {
    justify-content: end;
}
/****/


/* general */
.files .v-input--radio-group {
    margin-top: 0px;
}

.files .hint {
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.files .hint .v-icon {
    margin-right: 2px;
}

.files .hint span {
    display: contents;
}

.files .hint span b {
    display: inherit;
}

.wide .preview .p1 {
    flex-direction: row-reverse;
}

/* preview rows */
.preview {
    margin: auto !important;
}

.preview .header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.preview .header .matchinfo {
    font-size: 18px;
    text-align: left;
}

.preview .timestamp {
    padding-left: 0px;
}

.preview .header .leader,
.preview .header .remove {
    margin-right: 15px;
}
 
.preview:last-child {
    padding-bottom: 0px;
}

.preview .add {
    margin-left: 15px;
}

.preview .add {
    flex-wrap: wrap;
}

.preview .col {
    padding: 0px;
    display: flex;
}

.preview .wrapper {
    width: 100%;
}

.options .v-input--radio-group__input {
    justify-content: center !important;
}

.preview .player {
    display: flex;
    align-items: center;
}

.preview .players .p1 {
    order: 1;
}

.preview .vs {
    order: 2;
    align-items: center;
}

.preview .players .p2 {
    order: 3;
}


.preview .players {
 display: flex;
 flex-wrap: wrap;
}

.preview .youtubelink {
    display: flex;
}

.preview .header > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.preview .youtube {
    flex-wrap: wrap;
}


/* desktop */
.wide .preview .data {
    margin-top: 5px;
    margin-bottom: 5px;
}


.wide .preview .players {
    margin-bottom: 10px;
}

/* mobile */
.small .preview .data {
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.small:not(.xsmall) .preview .add {
    max-width: 200px;
    min-width: 200px;
}

.xsmall .preview .icon {
    margin-right: 10px !important;
    margin-left: 0px !important;
}

.xsmall .preview .add {
    margin-left: 0px;
}

.xsmall .preview .players {
    margin-bottom: 5px;
}

.xsmall .preview .p2,
.xsmall .preview .add .file,
.xsmall .preview .add .link,
.xsmall .preview .add .timestamp {
    margin-top: 15px;
}

.xsmall .players {
    margin-bottom: 0px !important;
}


.xsmall .preview .add {
    margin: 5px 0px;
}

.preview .header button {
    display: flex;
}

/** svg buttons **/
.preview button svg {
    box-shadow:
        0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 5px 0 rgba(0,0,0,.14),
        0 1px 10px 0 rgba(0,0,0,.12);
}
.preview button svg {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.preview button svg {
    border-radius: 100%;
}

.xsmall .preview button svg {
    height: 38px;
    width: 38px;
}

.preview button.disabled .st0 {
    fill: var(--v-buttonDisabled-base)
}

.preview button .st0 {
    transition: 0.5s;
}

button.remove .st0 {
    fill: var(--v-accent-base);
}

button.remove:not(.disabled):hover .st0 {
    fill: var(--v-accent-lighten1)
}

button.move .st0 {
    fill: var(--v-button3-base);
}

button.move:not(.disabled):hover .st0 {
    fill: var(--v-button3-lighten2);
}

.preview button .st1 {
    fill:#FFFFFF;
}

.preview .swap {
    max-width: min-content;
    flex-wrap: wrap;
    margin-right: 15px;
}

.xsmall .preview .swap {
    align-content: center;
}

.xsmall .preview .swap {
    margin-right: 25px;
}

.xsmall .preview .up {
    margin-bottom: 25px;
}

.xsmall .preview .down {
    margin-top: 25px;
}

.upload-url {
    width: 240px;
}
.v-form {
    align-items: center;
}


#forms .wrapper {
    width: 100%;
}

#step__edit {
    display: grid;
    grid-template:
        'title'
        'subtitle'
        'form';
    row-gap: 20px;
}

#step__edit h1 { grid-area: title; }
#step__edit .subtitle { grid-area: subtitle; }
#step__edit form { grid-area: form; }

.date__input .v-input__control {
    position: relative;
}

.datepicker__menu {
    top: 33px !important;
    max-width: max-content !important;
    left: -2px !important
}