/** uploadform.vue **/

/* general */
#uploads {
    width: 100%;
    padding: 0px;
}

#uploads h1 {
    text-align: center;
}

#uploads .v-stepper__content {
    padding: 0px;
}

#uploads .v-file-input {
    width: 80%;
    margin: auto;
}

#uploads .match-list > hr {
    border-bottom: 1px solid white;
}

#uploads .preview {
    width: 100%;
}

#uploads .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#uploads .step {
    padding: 24px;
}

#uploads .step .v-btn:not(.back):not(.remove) {
    max-width: min-content;
    flex-wrap: wrap;
    height: 50px;
}

.step > * {
    width: 100%;
    text-align: center;
}

#uploads #step__sign-in .v-btn,
#uploads #step__select .v-btn {
    display: block;
    margin: auto;
    width: auto;
}

#uploads #step__upload .heading {
    position: relative;
    width: 100%;
}

#uploads #step__upload .buttons :not(:last-child) {
    margin-right: 20px;
}

#uploads .form .message > div {
    margin: auto;
}

#uploads .preview__match {
    flex-wrap: nowrap;
}

#uploads #files .body .preview:not(:first-child) {
    padding-top: 15px;
}

/** statusoverlay.vue **/

#uploads .v-overlay .v-progress-linear {
    margin: 20px 0px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

#uploads .v-overlay__content,
#edit .v-overlay__content {
    background-color: #171717
}

#uploads .v-overlay__content .status > div,
#edit .v-overlay__content .status > div {
    width: 80%;
}

#uploads .v-overlay .v-btn,
#edit .v-overlay .v-btn {
    margin-top: 10px;
}

/* desktop */
.wide #uploads .v-overlay__content,
.wide #edit .v-overlay__content {
    width: 600px;
}

.wide #uploads .back {
    position: absolute;
    margin: auto;
    left: 15px;
    bottom: 0;
    top: 0;
}

/* mobile */
.small #uploads .v-overlay__content,
.small #edit .v-overlay__content {
    width: 80%;
}

.small #uploads .back {
    margin-bottom: 10px;
}

.small #uploads .wrapper .body {
    width: 100%;
}

/** youtubeuploads.vue **/
#youtube .body {
    width: 100%;
}
#youtube .body > .data {
    width: 95%;
}

#youtube .tournament {
    margin-top: 40px !important;
    margin-bottom: 10px !important;
}

#youtube .tournament .num {
    max-width: 85px;
    min-width: 85px;
}

#youtube .body .tournament {
    width: 70%;
}

#youtube .body .data .date-title,
#youtube .body .data  {
    justify-content: space-between;
}

#youtube .body .data .date-title {
    width: 100%;
}

#youtube .date-title > div {
    max-width: 40%;
}

#youtube .desc > .v-textarea .v-messages {
    max-width: max-content;
}

#youtube .desc > .v-textarea .v-text-field__details {
    justify-content: end;
}

#youtube .desc-buttons {
    padding: 0px;
    display: flex;
}

#youtube .url-input {
    display: flex;
    justify-content: space-around;
}

/* desktop */
.wide #youtube .desc {
    min-height: 150px;
    margin-right: 35px;
}

.wide #youtube .tournament .date {
    max-width: 140px;
    min-width: 140px;
}
.wide #youtube .desc-buttons {
    min-height: inherit;
    align-content: space-evenly;
    flex-wrap: wrap;
    max-width: min-content;
}

.wide #youtube .url-input {
    width: 50%;
}

.wide #youtube .url-input .v-input {
    max-width: 80%;
}

/* mobile */
.small #youtube .url-input {
    width: 100%;
    flex-wrap: nowrap;
}

.small #youtube .url-input .v-input {
    max-width: 70%;
}

.small #youtube .desc-buttons {
    justify-content: space-evenly;
}

.small #youtube .desc-buttons .v-btn span {
    white-space: normal !important;
    flex: auto !important;
}

.small #youtube .body .tournament {
    width: 90%;
}

.xsmall #youtube .body .tournament {
    width: 100%;
}

/** filepreview.vue **/

/* general */

#files .hint .v-icon {
    margin-top: -4px;
    display: inline-block;
}

#files .hint {
    align-items: center;
    background-color: var(--v-background-base);
    border-radius: 4px;
}

#files .hint > div {
    align-items: center;
    display: flex;
}

#files .hint > div > .col {
    max-height: max-content;
    max-width: max-content;
    min-height: max-content;   
}

#files .tournament-info {
    flex-wrap: wrap;
    justify-content: center;
}

#files .tournament.num {
    max-width: 100px;
    min-width: 100px;
}

#files .tournament-info {
    width: 90%;
}

#files .header .matchinfo {
    text-align: left;
}

.wide #files .tournament.num {
    padding: 0px 10px;
}

.small #files .tournament.num {
    padding-left: 0px !important;
}

.xsmall #files .matchinfo {
    max-width: 100px;
}


/****/
#files .v-messages,
#youtube .timestamp-file .v-messages,
#youtube .tournament .v-messages {
    max-width: max-content;
}

#files .v-text-field__details,
#youtube .timestamp-file .v-text-field__details, 
#youtube .tournament .v-text-field__details {
    justify-content: end;
}
/****/


/* general */
.form .v-input--radio-group {
    margin-top: 0px;
}

.form .switch {
    padding: 0px !important;
    margin: 0px !important;
}

.form .hint {
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.form .hint .v-icon {
    margin-right: 2px;
}

.form .hint span {
    display: contents;
}

.form .hint span b {
    display: inherit;
}

.wide .preview .p1 {
    flex-direction: row-reverse;
}

.wide .preview .youtube {
    padding-left: 10px;
}

/* preview rows */
.preview {
    width: 95%;
    margin: auto !important;
    padding: 20px 0px;
}

.preview .header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.preview .header .matchinfo {
    font-size: 18px;
}

.preview .timestamp {
    padding-left: 0px;
}

.preview .header .leader,
.preview .header .remove {
    margin-right: 15px;
}
 
.preview:last-child {
    padding-bottom: 0px;
}

.preview .add {
    margin-left: 15px;
}

.preview .add {
    flex-wrap: wrap;
}

.preview .col {
    padding: 0px;
    display: flex;
}

.preview .body {
    width: 100%;
}

.options .v-input--radio-group__input {
    justify-content: center !important;
}

.preview .player {
    display: flex;
    align-items: center;
}

.preview .players .p1 {
    order: 1;
}

.preview .vs {
    order: 2;
    align-items: center;
}

.preview .players .p2 {
    order: 3;
}

.preview .v-textarea.comment .v-text-field__slot {
    height: 100%;
}

.wide .preview .v-textarea.comment {
    height: 100%;
    margin-top: 6px;
}

.preview .players {
 display: flex;
 flex-wrap: wrap;
}

.preview .youtubelink {
    display: flex;
}

.preview .header > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.preview .youtube {
    flex-wrap: wrap;
}


/* desktop */
.wide .preview .data {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wide .preview {
    margin-top: 20px;
}

.wide .preview .players {
    margin-bottom: 10px;
}

/* mobile */
.small .preview .data {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.small .preview .header {
    margin-top: 10px;
}

.small:not(.xsmall) .preview .add {
    max-width: 200px;
    min-width: 200px;
}


.xsmall .preview .icon {
    margin-right: 10px !important;
    margin-left: 0px !important;
}

.xsmall .preview .add {
    margin-left: 0px;
}

.xsmall .preview .players {
    margin-bottom: 5px;
}

.xsmall .preview .p2,
.xsmall .preview .add .file,
.xsmall #files .preview .add .timestamp {
    margin-top: 15px;
}


.xsmall .preview .add {
    margin: 10px 0px;
}

.preview .header button {
    display: flex;
}

/** svg buttons **/
.preview button svg {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.preview button svg {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.preview button svg {
    border-radius: 100%;
}

.xsmall .preview button svg {
    height: 38px;
    width: 38px;
}

.preview button.disabled .st0 {
    fill: var(--v-buttonDisabled-base)
}

.preview button .st0 {
    transition: 0.5s;
}

button.remove .st0 {
    fill: var(--v-accent-base);
}

button.remove:hover .st0 {
    fill: var(--v-accent-lighten1)
}

button.move .st0 {
    fill: var(--v-button3-base);
}

button.move:hover .st0 {
    fill: var(--v-button3-lighten2);
}

.preview button .st1 {
    fill:#FFFFFF;
}

.preview .swap {
    max-width: min-content;
    flex-wrap: wrap;
    margin-right: 15px;
}

.xsmall .preview .swap {
    align-content: center;
}

.xsmall .preview .swap {
    margin-right: 25px;
}

.xsmall .preview .up {
    margin-bottom: 25px;
}

.xsmall .preview .down {
    margin-top: 25px;
}




